* {
    padding: 0;
    margin: 0;
}

nav {
    background-color: #d9d9d9;
    width: 100%;
    height: 25px;
}

nav ul {
    list-style-type: none;
    margin: 0px 174.6px;
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
    margin-top: 2px;
}

nav ul li a {
    text-decoration: none;
    color: #1264b0;
}

nav ul li a:hover {
    color: #b07e12;
}

.banner {
    width: 100%;
    height: 211px;
    background: linear-gradient(90deg, #1264b0 2.15%, #689eee 94.73%);
    display: flex;
    align-items: center;
    overflow: hidden;
}

#brasao {
    width: 140px;
    height: 140px;
    margin-right: 20px;
    border-radius: 50%;
    display: flex;
    margin-left: 190px;
}

.banner span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 57px;
    color: #ffffff;
}

.areas {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 49px;
}

.areas .box-1,
.box-2,
.box-3,
.box-4 {
    margin-right: 49px;
}
.areas .box-1,
.box-2,
.box-3,
.box-4,
.box-5 {
    width: 190px;
    height: 125px;
    background: #d9d9d9;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.areas .box-1 {
    background: #1264b0;
}
.areas .box-2 {
    background: #216d97;
}
.areas .box-3 {
    background: #2a7287;
}
.areas .box-4 {
    background: #377a71;
}
.areas .box-5 {
    background: #43815c;
}

.areas a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: -30px;
}

.carousel-wrapper {
    height: 300px;
    position: relative;
    width: 100%;
    display: block;
    margin: 50px auto ;
  }
  
  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .arrow{
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 12px;
  }
  .arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  
  }
  .arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  
  [id^= "item"] {
    display: none;
  }
  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url('banner1.jpeg');
    background-size: cover;
  }
  .item-2 {
    background: url('banner2.jpeg');
    background-size: cover;
  }
  .item-3 {
    background: url('banner3.jpeg');
    background-size: cover;
  }
  
  *:target ~ .item-1{
    opacity: 0;
  }
  #item-1:target ~ .item-1 {
    opacity: 1;
  
  }
  #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  } 
